<launch>
  <!-- RIGHT CAMERA -->
  <!-- Launch the usbcam_driver node to start taking pictures and publishing them -->
  <node pkg="usbcam_driver" type="usbcam_driver.py" name="usbcam_driver_right" output="screen">
    <param name="device" value="0" type="int"/>
    <param name="topic_out" value="/camera/right/image" type="string"/>
  </node>

  <!-- Launch the pic_to_disk node to start saving published pictures to disk -->
  <node pkg="usbcam_driver" type="pic_to_disk.py" name="pic_to_disk_right" output="screen">
    <param name="topic_in" value="/camera/right/image" type="string"/>
    <param name="path" value="/home/snowmower/pic_to_disk/right/" type="string"/>
  </node>

</launch>
