<launch>
  <!-- LEFT CAMERA -->
  <!-- Launch the usbcam_driver node to start taking pictures and publishing them -->
  <node pkg="usbcam_driver" type="usbcam_driver.py" name="usbcam_driver_left" output="screen">
    <param name="device" value="1" type="int"/>
    <param name="topic_out" value="/camera/left/image" type="string"/>
  </node>

  <!-- RIGHT CAMERA -->
  <!-- Launch the usbcam_driver node to start taking pictures and publishing them -->
  <node pkg="usbcam_driver" type="usbcam_driver.py" name="usbcam_driver_right" output="screen">
    <param name="device" value="0" type="int"/>
    <param name="topic_out" value="/camera/right/image" type="string"/>
  </node>
</launch>
